/* html,
body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 10fr;
  grid-template-rows: 1fr;
  justify-content: start;
  font-size: 1.2rem;
  padding: 10px;
  width: 21.95%;
  color: black;
  background-color: #940;
}

.navbar:hover {
  background-color: #973;
  color: green;
}
.navbar > .search:hover {
  cursor: pointer;
  opacity: 60%;
}
.navbar > .link-1 {
  display: flex;
  justify-self: center;
}

.navbar > .link-2 {
  display: flex;
  justify-self: center;
}
.navbar > .link-3 {
  display: flex;
  justify-self: center;
}

.navbar > .login {
  display: flex;
  justify-self: end;
  align-self: start;
  font-size: 1.4rem;
}

.hero {
  display: flex;
  justify-self: start;
  align-self: start;
  max-width: 10%;
  max-height: 10%;
}

.hero > .image-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50%;
  max-width: 50%;
}

.title {
  display: flex;
  justify-self: start;
  align-self: flex-start;
} */
/*
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.title-1 {
  display: flex;
  justify-self: center;
  align-self: start;
  text-decoration: underline;
  font-size: 1.3rem;
}

.hero > img {
  grid-template-columns: 2, 1fr;
  grid-auto-rows: 50;
  height: 60%;
  width: 60%;
  padding: 20px;
}
/* 
.footer {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: end;
  gap: 8px;
  font-size: 1.2rem;
  padding: 10px;
  width: 22%;
  color: black;
  background-color: #940;
}

.footer:hover {
  background-color: #973;
  color: green;
} */
html,
body {
  margin: 0;
}

.page {
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 1.2rem;
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}
.navbar > .main-nav-links {
  margin: 1%;
}
.navbar > .main-nav-links > :first-child {
  font-size: 0.95rem;
}
.navbar > .main-nav-links > :first-child:hover {
  cursor: pointer;
  color: black;
  opacity: 50;
}

.navbar > .nav-hamburger {
  margin-right: 1%;
  font-size: 1.5rem;
}
.navbar > .nav-hamburger > :hover {
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-right: 10%;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background-color: skyblue;
  width: 100%;
}

.hero > :nth-child(1) {
  display: grid;
  max-width: 100%;
  padding-top: 10%;
}
/* 
.hero > :nth-child(2) {
  display: flex;
  justify-self: center;
  font-size: 3rem;
  max-width: 100%;
} */

.hero > :nth-child(4) {
  display: grid;
  max-width: 50vw;
}

.hero > :nth-child(5) {
  grid-column: 1 / 3;
  font-size: 1.2rem;
}
.hero .intro > .intro-content > .title-1 {
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  width: 50%;
}
.hero > .intro > .intro-content {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.hero > .breeds > .breeds-content > .title-2 {
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
  width: 100%;
}
.hero > .breeds > .breeds-content {
  text-justify: inter-word;
  font-size: 1.2rem;
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 6vh;
  font-size: 0.9rem;
  align-items: center;
  /* padding: 5px; */
  background-color: steelblue;
}

.footer > .left-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
}

.footer > .right-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer > .right-footer > :last-child {
  margin: 1%;
}

@media all and (min-width: 320px) and (max-width: 600px) {
  .page {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    width: 100%;
  }
  .navbar > :nth-child(2) {
    padding: 0 10px;
  }

  .footer {
    font-size: 0.6rem;
  }

  /* .footer > .left-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .footer > .right-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  } */
}
