html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 15% 85%;
  font-size: 1.2rem;
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.navbar > .main-nav-links {
  margin: 1%;
}
.navbar > .main-nav-links > :first-child:hover {
  cursor: pointer;
  color: black;
  opacity: 50;
}

.navbar > .nav-hamburger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 30px;
  background-color: skyblue;
}

.hero > :nth-child(1) {
  justify-self: center;
  text-decoration: underline;
  font-size: 3rem;
}

.hero > :nth-child(2) {
  /* display: flex; */
  justify-content: center;
  width: 70%;
}
.hero > :nth-child(3) {
  /* display: flex; */
  justify-content: center;
  text-align: center;
}
.hero > :nth-child(4) {
  max-width: 70%;
  justify-self: center;
}
.image-3 {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.footer {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 6vh;
  font-size: 0.9rem;
  align-items: center;
  /* padding: 5px; */
  background-color: steelblue;
}

.footer > .left-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1%;
}

.footer > .right-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer > .right-footer > :last-child {
  margin: 0 1%;
}

@media all and (min-width: 320px) and (max-width: 600px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .hero > :nth-child(2) {
    display: flex;
    justify-content: center;
    width: 70%;
  }
}
